
<style>
    .nav-link text-dark {
        
    }
</style>
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> dronesIL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>

<script>
    $(window).on('load',function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
</script>


<body>
    <div class="se-pre-con"></div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a href="#" class="navbar-brand">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="https://c.tenor.com/piEpux8KxmwAAAAi/drone-flying.gif" alt="CoolBrand"></a>
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="direction: ltr; display: inline-flex;" asp-area="" asp-controller="Home" asp-action="ContactUs">
                            צרו איתנו קשר
                            <img src="~/svg/contact-phone-svgrepo-com.svg" style="width:22px;margin-inline:10px;" />
                        </a>
                    </li>
                    <li class="nav-item" style="direction: ltr; display: inline-flex ;display:none;" id="adminButton">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="admin">
                        מערכת ניהול             <img src="~/svg/graph-svgrepo-com.svg" style="width:22px;margin-inline:10px;" /></a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" style="direction: ltr; display: inline-flex;" asp-area="" asp-controller="DronesSearch" asp-action="index">
                            חנות רחפנים                                   <img src="~/svg/addtocartsvg - Copy.svg" style="width:22px;margin-inline:10px;" />
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" style="direction: ltr; display: inline-flex;" asp-area="" asp-controller="Skyline" asp-action="index">
                            סקירות רחפנים במדיה                           <img src="~/svg/video-svgrepo-com.svg" style="width:30px;margin-inline:10px;" />
                        </a>                     
                    </li>
                    <li class="nav-item" id="registerButtom">
                        <a class="nav-link text-dark" style="direction: ltr; display: inline-flex;" asp-area="" asp-controller="users" asp-action="Create">
                            הרשמה            <img src="~/svg/register-svgrepo-com.svg" style="width:22px;margin-inline:10px;" />
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto ">
                    <span>
                        <button class=" button-inline mr-auto " onclick="goToBasket()">לסל הקניות שלי</button>
                    </span>
                    <div>
                        <button id="btn btn-info btn-lg" data-target="#loginModal" data-toggle="modal">התחבר</button>
                        <button id="disconnect" class=" button-inline mr-auto " style="display: none; margin-right: 23px !important;" onclick="disconnectUser()">התנתק</button>
                    </div>
                        
                        <div class="modal" id="loginModal" tabindex="2" style="z-index:1041;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">התחברות</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="inputUserName">שם משתמש</label>
                                                <input class="form-control" placeholder="שם משתמש או אימייל" type="text" id="inputUserName">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword">סיסמה</label>
                                                <input class="form-control" placeholder="סיסמה" type="password" id="inputPassword">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" onclick="ValidateUser()">התחבר</button>
                                        <button class="btn btn-primary" data-dismiss="modal">יציאה</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                

               



                </ul>

            </div>
        </nav>


    </header>

    <div class="container" style="max-width:94%;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)





</body>
<footer class="page-footer font-small ">
    <div class="socialbtns">
        <ul>
            <li><a href="https://www.facebook.com/groups/468069213315983/?ref=share" class="fa fa-lg fa-facebook"></a></li>
            <li><a href="https://www.linkedin.com/company/dronedeploy/" class="fa fa-lg fa-twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/dronedeploy/" class="fa fa-lg fa-linkedin"></a></li>
            <li><a href="https://www.instagram.com/djiglobal/" class="fa fa-lg fa-instagram"></a></li>
            <li><a href="https://www.youtube.com/results?search_query=drones" class="fa fa-lg fa-youtube"></a></li>
        </ul>
    </div>
</footer>
</html>
