<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> dronesIL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>

<script>
    $(window).on('load',function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
</script>

<body>
    <div class="se-pre-con"></div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a href="#" class="navbar-brand">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="https://c.tenor.com/piEpux8KxmwAAAAi/drone-flying.gif" alt="CoolBrand"></a>
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">יצירת קשר</a>
                    </li>
                    <li class="nav-item" style="display:none;" id="adminButton">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="admin">מערכת ניהול</a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="DronesSearch" asp-action="index">חפש רחפן</a>
                    </li>

                    <li class="nav-item">


                    </li>
                </ul>
                <ul class="navbar-nav mr-auto ">
                    <span>
                        <button class=" button-inline mr-auto " onclick="goToBasket()">לסל הקניות שלי</button>
                    </span>
                    <div>
                        <button id="btn btn-info btn-lg" data-target="#loginModal" data-toggle="modal">התחבר</button>
                        <div class="modal" id="loginModal" tabindex="2" style="z-index:1041;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">התחברות</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="inputUserName">שם משתמש</label>
                                                <input class="form-control" placeholder="שם משתמש או אימייל" type="text" id="inputUserName">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword">סיסמה</label>
                                                <input class="form-control" placeholder="סיסמה" type="password" id="inputPassword">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" onclick="ValidateUser()">התחבר</button>
                                        <button class="btn btn-primary" data-dismiss="modal">יציאה</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <button id="btn btn-info btn-rg" data-target="#RegisterModal" data-toggle="modal">הרשמה לאתר</button>
                        <div class="modal" tabindex="2" id="RegisterModal" style="z-index:1041;">
                            <div class="modal-dialog" style="max-width:100%;">
                                <div id="regContent" class="modal-content">
                                </div>
                            </div>

                        </div>

                    </div>



                </ul>





            </div>
        </nav>


    </header>

    <div class="container" style="max-width:94%;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)





</body>
<footer class="page-footer font-small ">






    <!-- Trigger/Open The Modal -->
    <button id="myBtn">נתוני מזג אוויר</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span id="closeBtn" class="close">&times;</span>
            <h2>נתוני מזג אוויר</h2>
            <p>
                <div class="weatherWidget"></div>

            </p>
        </div>

    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementById("closeBtn");

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // WhUrln the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>





</footer>
</html>
