/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

.tablesAdmin{
    text-align: center;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: center;
    background-color: #cad7e5;
}

.logo {
    vertical-align: middle;
    border-style: none;
    height: 50px;
    margin-inline-end: 20px;
}
* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}
a.navbar-brand {
  white-space: normal;
  text-align: justify;
  word-break: break-all;
  color: black;
  /*justify-content: space-evenly;*/
}

/* Provide sufficient contrast against white background */
a {
  background-color: white;
  color: black;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    margin-inline:33%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link:hover {
  color: black;
  background-color: white;
  border-color: whitesmoke;
}
.navbar.box-shadow{
  color:white;
  box-shadow: black;
}
/* Sticky footer styles
-------------------------------------------------- */
html {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 60px;
  background-color: whitesmoke;
}
.footer {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.footer-opacity {
  /*font-family: 'IBM Plex Sans Hebrew', sans-serif;*/
  font-style: normal;
  font-weight: 400;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.NoNoNo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#unautorizedText span {
    text-align: center;
    font-size: 30px;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;

  background: url(https://c.tenor.com/piEpux8KxmwAAAAi/drone-flying.gif) center no-repeat whitesmoke;
}
* {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    position: absolute;
    color: black;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    font-family: Tahoma;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    background-position: center;
    display: -webkit-box;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    border-color: black;
    box-shadow: 10px 10px 20px black;
    text-align: right;
    ;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem 0;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    margin-inline-end: 10px;
    margin-inline-start: 20px;
}

#myBtn {
    position: center;
    background-color: black;
    color: white;
    text-decoration: underline;
    border: none;
}

.modal-header {
    background-color: aliceblue;
}

span {
    margin: 0 10px;
}

    span:first-of-type {
        margin-left: 0;
    }

    span:last-of-type {
        margin-right: 0;
    }

nav {
    background-color: white;
    color: black;
}

header {
    border-bottom-color: black;
}

.btn-primary {
    background-color: #b8daff;
    color: black;
    box-shadow: 5px 5px 10px black;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    margin-inline: auto;
    background-color: #eff8fe;
}


.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #a1bede;
    margin-inline: initial;
}


#myVideo {
    display: block;
    margin: 105%;
    mso-border-shadow: yes;
    box-shadow: 20px 20px 50px 15px grey;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.modal-backdrop {
    position: inherit;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}


h1 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: black;
    text-shadow: 5px 5px 10px grey;
    margin-bottom: 50px;
    margin-top: 50px;
}

.col-xs-8 {
    display: block;
    ;
    margin-left: auto;
    margin-right: auto;
}


.content {
    height: 400px;
    width: 750px;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
}

    .content .images {
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }

.images .img1 {
    height: 100%;
    width: 100%;
    border-radius: 400px;
    box-shadow: 20px 20px 50px 15px grey;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(https://c.tenor.com/piEpux8KxmwAAAAi/drone-flying.gif) center no-repeat whitesmoke;
}

._1WP0F {
    display: block;
    margin: 105%;
    mso-border-shadow: yes;
    box-shadow: 20px 20px 50px 15px grey;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

._3Xz9Z {
    width: 100%;
    height: 100%;
}


canvas {
    background: 
      linear-gradient(
        hsl(200, 50%, 80%) 0%, 
        hsl(200, 30%, 95%) 75%)
    ;
    display: block;
  }
  
  .skyline-canvas {
    height: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: url(https://jackrugile.com/images/misc/skyline-texture.png);
    z-index: 1000;
  }

  ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    text-align: right;
    float: left;
    margin-top: 70px;
  }


.fab, .far {
    font-size: x-large;
}