@{
    ViewData["Title"] = "About";
}
<h1>DronesIL</h1>

<section>
        
    <p>רחפני DJI במחירים הזולים ביותר מהיבואן לצרכן , </p>
    <p>חברתנו מתמחה במתן פתרונות אוויריים מתקדמים עבור קהל לקוחותיה</p>
    <p>וכן ביישומם ובהטמעתם בארגונים ולצרכן הפרטי.</p>
    
</section>

<section>
    <p>מעסק קטן ומשפחתי, DronesIL נהפכה למעצמת ייבוא וסיפוק רחפנים, </p>
    <p> היום האתר שלנו מונה אלפי דגמים מוונדורים שונים, המסופקים לכל לקוח לפי צרכיו ודרישתו</p>
</section>

<aside>
    <p>חדש! </p>
    <p>מוקד ייעוץ לגבי פתרונות שינוע ושימוש עסקי במוצרינו</p>
    <a class="btn-primary" asp-controller="Home" asp-action="ContactUs">צור קשר עוד היום</a>
</aside>
