<style>
    .Link {
        color: black;
        font-size: 25px;
        text-decoration: underline;
    }
</style>
<script>

</script>
<div id="Links" style="text-align:right;">
    <ul>
        <li>
            <a class="Link" asp-area="" asp-controller="Drones" asp-action="Index">ניהול רחפנים</a>
        </li>
        <li>
            <a class="Link" asp-area="" asp-controller="Home" asp-action="Reports"> דוחות</a>
        </li>
    </ul>
</div>
