<style>

</style>
<script>

</script>
<div id="Links">
    <ul>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Drones" asp-action="Create">הוספת מוצר</a>
        </li>
    </ul>
</div>
