<style>
    #map {
        height: 100%;
  
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .mapTag {
        font-size: 12px;
        height: 14px;
        font-weight: 100;
        margin: 0;
        margin-right: 30px;
    }
</style>
<script>
    function initMap() {
        debugger;
        map = new google.maps.Map(document.getElementById("mapsDiv"), {
            center: { lat: 32.045529563351494, lng: 34.805553315631585  },
            zoom: 10,
        });
        var contentString = '<div> <h1 class="mapTag">סניף תל אביב ,דרך חיים ברלב 158</h1></div>';
        var uluru = { lat: 32.045529563351494, lng: 34.805553315631585 };
        var info = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: uluru,
            title: "סניף תל אביב, דרך חיים ברלב 158"
        });
        marker.setMap(map);
        info.open({
            anchor: marker,
            map,
            shouldFocus: false,
        });
        contentString = '<div> <h1 class="mapTag"> סניף חולון , נעמי שמר 12</h1></div>';
        uluru = { lat: 32.00802859900077, lng: 34.77534317362379 };
        info = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: uluru,
            title: "סניף חולון , נעמי שמר 12"
        });
        marker.setMap(map);
        info.open({
            anchor: marker,
            map,
            shouldFocus: false,
        });
    }
</script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYreq0os9tStjgxC99miiabgVWZHDllpM&callback=initMap">
</script>
<div>
    <div id="mapsDiv" style="position:relative;width:1000px;height:750px ;margin-left:50%">
    </div>

    <div >
        <a>טלפון ליצירת קשר: 052-745-7717</a>
        <a href="https://wa.link/9qk56d"> ליצירת קשר דרך whatsapp </a>
    </div>
</div>
