@{
    ViewData["Title"] = "Home Page";
}
<style>

    #myVideo {
               
      display: block;
      margin: auto;
      mso-border-shadow: yes ;
      box-shadow: 20px 20px 50px 15px grey;
      border-radius: 20px;
      margin-bottom: 50px;
      margin-top: 50px;
     }
              
    h1 {
      text-align: center;
      font-style: normal;
      font-weight: 400;
      text-shadow:5px 5px 10px grey;
       margin-bottom: 50px;
       margin-top: 50px;
    }



</style>
<body>
<div class="weatherWidget" ></div>

<script>
   window.weatherWidgetConfig =  window.weatherWidgetConfig || [];
   window.weatherWidgetConfig.push({
       selector:".weatherWidget",
       apiKey:"EZMLDFYE2994242A5TT5XJF58", //Sign up for your personal key
       location:"tel aviv,israel", //Enter an address
       unitGroup:"metric", //"us" or "metric"
       forecastDays:5, //how many days forecast to show
       title:"Tel Aviv ", //optional title to show in the 
       showTitle:true, 
       showConditions:true
   });
  
   (function() {
   var d = document, s = d.createElement('script');
   s.src = 'https://www.visualcrossing.com/widgets/forecast-simple/weather-forecast-widget-simple.js';
   s.setAttribute('data-timestamp', +new Date());
   (d.head || d.body).appendChild(s);
   })();
</script>
<div >
    <h1>אתר הרחפנים של ישראל</h1>
</div>


<div class ="block_video">
    <video autoplay muted loop id="myVideo">
        <source src="~/videos/WhatsApp Video 2021-05-29 at 20.22.42.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>

</body>