@{
    ViewData["Title"] = "Home Page";
}
<style>
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 10;
        min-width: 100%;
      
        min-height: 100%;
    }


</style>
<body>


    <video autoplay muted loop id="myVideo">
        <source src="~/videos/WhatsApp Video 2021-05-29 at 20.22.42.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</body>