@using dronesIL.Controllers;
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="css/site.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
    $(window).on('load',function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
</script>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
 

<div class="se-pre-con"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div >
        <h1>אתר הרחפנים של ישראל</h1>
      </div>
      <div class="content">
               <div class="images">
                  <img class="img1" src="photos/img1.jpeg" alt="Drone" >
                  <img class="img1" src="photos/img2.jpeg" alt="Drone">
                  <img class="img1" src="photos/img3.jpeg" alt="Drone">
                  <img class="img1" src="photos/img4.jpeg" alt="Drone">
               </div>
            </div>
            <script>
               var indexValue = 0;
               function slideShow(){
                 setTimeout(slideShow, 2500);
                 var x;
                 const img1= document.querySelectorAll(".img1");
                 for(x = 0; x < img1.length; x++){
                   img1[x].style.display = "none";
                 }
                 indexValue++;
                 if(indexValue > img1.length){indexValue = 1}
                 img1[indexValue -1].style.display = "block";
               }
               slideShow();
            </script>


            <div class="block_video">
              <video autoplay muted loop id="myVideo">
                <source src="~/videos/WhatsApp Video 2021-05-29 at 20.22.42.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>

    </div>
  </div>  
</div>
<div id="mapsDiv">
</div>










</body>