@{
    ViewData["Title"] = "Home Page";
}
<style>

    #myVideo {
               
      display: block;
      margin: auto;
      mso-border-shadow: yes ;
      box-shadow: 20px 20px 50px 15px grey;
      border-radius: 20px;
      margin-bottom: 50px;
      margin-top: 50px;
     }
              
    h1 {
      text-align: center;
      font-style: normal;
      font-weight: 400;
      text-shadow:5px 5px 10px grey;
       margin-bottom: 50px;
       margin-top: 50px;
    }
   



</style>
<body>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div >
                <h1>אתר הרחפנים של ישראל</h1>
            </div>


            <div class ="block_video">
                <video autoplay muted loop id="myVideo">
                    <source src="~/videos/WhatsApp Video 2021-05-29 at 20.22.42.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
            

            <div id="mapsDiv">
            </div>  

        </div>
               
          
    </div>

</div>










</body>