@model dronesIL.Models.user
@{
    ViewData["Title"] = "logging ";
}

<script src="../../Scripts/jquery.js" type="text/javascript"></script>
<script language="javascript">
    function ValidateUser() {
        debugger;
        var mail = $("#email")[0].value;
        var password = $("#password")[0].value;
        var url = "/Home/ValidateUser/";
        $("#btnlogin").val('Plesae wait..');
        $.ajax({
            url: url,
            data: { mail: mail, pass: password },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data != null) {
                    alert("Successfull login.");
                        location.reload();
                } else {
                    alert("Invalid user id and password.");
                }
                $("#txtmail").attr({ 'value': '' });
                $("#txtpass").attr({ 'value': '' });
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
        $("#btnlogin").val('Login');
    }
</script>
@using (Html.BeginForm("Index", "Home"))
{
<form>
    <label for="email">email</label>
    <input type="text" for="email" id="email" />
    <label for="password">password</label>
    <input type="password" for="password" id="password" />
    <input type="button" value="Login" id="btnlogin" onclick="ValidateUser()" />
</form>

}