@model dronesIL.Models.user
@{
    ViewData["Title"] = "logging ";
}


@using (Html.BeginForm("Index", "Home"))
{
<form>
    <label for="email">email</label>
    <input type="text" for="email" id="email" />
    <label for="password">password</label>
    <input type="password" for="password" id="password" />
    <input type="button" value="Login" id="btnlogin" onclick="ValidateUser()" />
</form>

}