<script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3-scale.v3.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    rect {
        fill: #b3d7ff;
    }
</style>
<div>
    <span>
        כמות הזמנות ליום
    </span>
    <svg id="daysReportSvg" />
    <br />
    <span>
        כמות רחפנים שנקנו
    </span>
    <svg id="dronesReportSvg" />
</div>
<script>
    $(document).ready(function () {
        daysReport = [];
        dronesCountReport = [];
        $.ajax({
            url: "/Home/GetDaysReport",
            method: "GET",
            success: function (response) {
                daysReport = response;
            },
            async: false
        });
        $.ajax({
            url: "/Home/GetDronesCountReport",
            method: "GET",
            success: function (response) {
                
                dronesCountReport = response;
            },
            async: false
        });
        daysDataSet = JSON.parse(daysReport);
        dronesDataSet=JSON.parse(dronesCountReport);

        //days report
        var margin = { top: 20, right: 20, bottom: 30, left: 40 },
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;
        var x = d3.scaleBand()
            .range([0, width])
            .padding(0.1);
        var y = d3.scaleLinear()
            .range([height, 0]);
        var svg = d3.select("#daysReportSvg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
        x.domain(daysDataSet.map(function (d) { return d.name; }));
        y.domain([0, d3.max(daysDataSet, function (d) { return d.value; })]);
        svg.selectAll(".bar")
            .data(daysDataSet)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function (d) { return x(d.name); })
            .attr("width", x.bandwidth())
            .attr("y", function (d) { return y(d.value); })
            .attr("height", function (d) { return height - y(d.value); });
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));
        svg.append("g")
            .call(d3.axisLeft(y));
        d3.selectAll('text').attr('font-size', '15px').attr('x', '-25');

        //drones report
        var margin = { top: 20, right: 20, bottom: 30, left: 40 },
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;
        var x = d3.scaleBand()
            .range([0, width])
            .padding(0.1);
        var y = d3.scaleLinear()
            .range([height, 0]);
        var svg = d3.select("#dronesReportSvg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
        x.domain(dronesDataSet.map(function (d) { return d.name; }));
        y.domain([0, d3.max(dronesDataSet, function (d) { return d.value; })]);
        svg.selectAll(".bar")
            .data(dronesDataSet)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function (d) { return x(d.name); })
            .attr("width", x.bandwidth())
            .attr("y", function (d) { return y(d.value); })
            .attr("height", function (d) { return height - y(d.value); });
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));
        svg.append("g")
            .call(d3.axisLeft(y));
        d3.selectAll('text').attr('font-size', '15px').attr('x', '-25');


    });
    

</script>



