<div class="NoNoNo" style="padding-bottom:40px;">
    <img  src="~/gif/NoNoNo.gif" />
</div>
<div id="unautorizedText" style="text-align:center;">
    <span>איייי עלינו עלייך</span>
    <br />
    <span>זה עמוד עם הרשאות</span>
</div>