@model dronesIL.Models.Drone

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Drone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Drones">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<input type="hidden" asp-for="droneId" />-->
            <div class="form-group">
                <label asp-for="name" class="control-label">שם רחפן </label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label">מחיר רחפן</label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="description" class="control-label">תיאור הרחפן</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageUrl" class="control-label">קישור תמונת רחפן</label>
                <input asp-for="imageUrl" class="form-control" />
                <span asp-validation-for="imageUrl" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="isEnterprise" class="control-label">האם תעשייתי</label>
                <input type="checkbox" asp-for="isEnterprise" class="form-control checkBoxEdit" />
                <span asp-validation-for="isEnterprise" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
